@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar .container a{
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}
.navbar .container .navbar-nav .nav-item a{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.navbar .container .navbar-nav .nav-item{
    position: relative;
}
.navbar .container .navbar-nav .nav-item::after{
    content: '';
    position: absolute;
    left: 9px;
    bottom: 4px;            
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}
.navbar .container .navbar-nav .nav-item:hover::after{
    width: 60%;
}
.navbar .container .navbar-nav .nav-item .active{
    position: relative;
}
.navbar .container .navbar-nav .nav-item .active::after{
    content: '';
    position: absolute;
    left: 9px;
    bottom: 4px;            
    width: 60%;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}
/* =================================== */
#header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../css/images/hero-bg.jpg) ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/* ===================================== */
#about{
    background-color: #F5F5F5;
    font-family: "Open Sans", sans-serif;
    min-height: 110vh;
    padding-bottom: 50px;
}
#about .container .space{
    height: 70px;
}
#about .container .about-me{
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}
#about .container .about-me .pt-1{
    margin-top: 20px;
}
#about .container .about-me .pt-1 img{
    margin-right: 40px;
    height: 150px;
}
#about .container .about-me .pt-1 ul li{
    margin-bottom: 18px;
}
#about .container .about-me .pt-1 .skills .title-s{
    font-size: 18px;
    font-weight: 500;
}
#about .container .about-me .pt-1 .skills .progress{
    height: 12px;
    border-radius: 0;
}
#about .container .about-me .pt-1 .skills .progress-bar{
    height: 12px;
}
#about .container .about-me .pt-2 h5 {
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
}
#about .container .about-me .pt-2 h5::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100px;
    background-color:#0078FF ;
}
#about .container .about-me .pt-2 p{
    font-size: 20px;
    font-weight: 300;
    color: #4E4E4E;
}
/* ================================ */
#services{
    background-color: #F5F5F5;
    min-height: 100vh;
}
#services .container .title{
    position: relative;
}
#services .container .title h3{
    font-size: 48px;
    font-weight: 700;
    padding-top: 20px;
}
#services .container .title p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}
#services .container .title p::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 530px;
    height: 5px;
    width: 40px;
    background-color:#0078FF ;
}
#services .container .services-box{
    margin-top: 50px;
}
#services .container .services-box .serv{
    background-color: white;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
#services .container .services-box .serv .service-ico .ico-circle i{
    line-height: 0;
    font-size: 40px;
}
#services .container .services-box .serv:hover .ico-circle{
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    border: 10px solid #cde1f8;
}
#services .container .services-box .serv .service-ico{
    margin-bottom: 1rem;
    color: #1e1e1e;
}
#services .container .services-box .serv .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    padding: 50px 50px;
    border: 10px solid #0078FF;
}
#services .container .services-box .serv h2{
    margin-top: 30px;
    font-size: 22.4px;
    font-weight: 500;
    color: #1e1e1e;
    margin-top: 40px;
}
#services .container .services-box .serv p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}

/* ========================== */
#counter{
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 120, 255, 0.6), rgba(0, 120, 255, 0.6)),url(../css/images/post-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#counter .container .counter-box .inner .cnt-item{
    margin-top: 50%;
}
@media (min-width:300px) and (max-width:768px){
    #counter .container .counter-box .inner .cnt-item{
        margin: 30px 0;
        padding-top: 5px;
    }
}
#counter .container .counter-box .inner .cnt-item .counter-ico .ico-circle{
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 20px 25px;
    border: 10px solid #cde1f8;
}
#counter .container .counter-box .inner .cnt-item p{
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: white;
}
#counter .container .counter-box .inner .cnt-item span{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
/* ========================================= */
#portfolio{
    background-color: #F5F5F5;
    min-height: 100vh;
}
#portfolio .container .title{
    position: relative;
}
#portfolio .container .title h3{
    font-size: 48px;
    font-weight: 700;
    padding-top: 20px;
}
#portfolio .container .title p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}
#portfolio .container .title p::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 530px;
    height: 5px;
    width: 40px;
    background-color:#0078FF ;
}
#portfolio .container .port-box{
    margin-top: 50px;
}
#portfolio .container .port-box .inner .port-item{
    background-color: white;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
#portfolio .container .port-box .inner .port-item .image{
    overflow: hidden;
}
#portfolio .container .port-box .inner .port-item .image img{
    transition: all 0.3s;
}
#portfolio .container .port-box .inner .port-item .image img:hover{
    transform: scale(1.2);
}
#portfolio .container .port-box .inner .port-item .cnt{
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#portfolio .container .port-box .inner .port-item .cnt .text{
    padding-left: 10px;
}
#portfolio .container .port-box .inner .port-item .cnt .text h5{
    font-size: 20px;
    font-weight: 500;
}
#portfolio .container .port-box .inner .port-item .cnt .text p{
    font-size: 12px;
    font-weight: 400;
}
#portfolio .container .port-box .inner .port-item .cnt span{
    font-size: 40px;
    color: #0078FF;
    padding-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* ============================ */
#test{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 120, 255, 0.6), rgba(0, 120, 255, 0.6)), url(../css/images/overlay-bg.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#test .container{
    padding-top: 20vh;
}
#test .container .feedback img{
    padding: 20px 0;
    border-radius: 50%;
}
#test .container .feedback h3{
    padding: 10px 0;
    font-size: 21px;
    font-weight: 600;
    color: white;
}
#test .container .feedback p{
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: 300;
    color:white;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    color: white !important;
    background-color: white !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
}